extends ../layout/index.pug
block content
  | &nbsp; Loans page
  table.table
    thead
      tr
        th(scope='col') User
        th(scope='col') Book
        th(scope='col') Start Date
        th(scope='col') Due Date
        th(scope='col') Fine Amount
    tbody
      each loan in loans
        tr
          th(scope='row')=loan.UserName
          td=loan.BookTitle
          td=loan.IssuedDate
          td=loan.DueDate
          td=loan.FineAmount
